
.bdiv-container {
  border-radius: 25px;
  width: 420px;
  height: 300px;
  padding: 10px;
  border: 5px solid gray;
  position: relative;
  background-color: rgba(255,255,255,0.2);
  display: inline-block;
}

body {
  
    background-color: Gray;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.0em;
    line-height: 1.0em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 20px;
}

ul.posts li {
    list-style: none;
}
.xbutton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: DodgerBlue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  
}
.bdiv{
position: absolute;
  bottom: 20px;
  right: 10px;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.fa-brands {
  padding: 10px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-reddit {
  background: #ff5700;
  color: white;
}
.fa-bluesky {
  background: DodgerBlue;
  color: white;
}
.fa-github {
  background: black;
  color: white;
}
.fa-telegram {
  background: #3B5998;
  color: white;
}
.fa-quora {
  background: #bb0000;
  color: white;
}
.fa-discord {
  background: purple;
  color: white;
}
.fa-tiktok {
  background: black;
  color: white;
}
.fa-threads {
  background: black;
  color: white;
}
.fa-creative-commons-nd {
  background: green;
  color: white;
}
.tab {
  overflow: hidden;
  border: none;
  background-color: transparent;
  margin-left: 10px;
  padding-bottom: 10px
}
.tab button {
  background-color: DodgerBlue;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.3s;
  margin-right:18px;
  font-size: 20px;
  border-radius: 15px;
  box-shadow: 0 6px #999;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}
.tabcontent {
  display: none;
  padding: none;
  border: none;
}
.tabcontent {
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.bn{
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: orange;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  position: relative;
  margin-right: 10px;
  margin-top:30px;
}
